body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -2;
    height: 100vh;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.heads {
    width: 100%;
    height: 175px;
    position: sticky;
    top: 0px;
    background-color: #0F5132;
    z-index: 1;
    display: flex;
}

#menu img {
    position: relative;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    margin-left: 30px;
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}


#gmail {
    position: relative;
    margin-left: auto;
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}


#info img {
    height: 30px;
    width: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 30px;
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;

    transition: transform 0.3s ease;
}

#info img:hover {
    transform: scale(1.05);
}

#hTitle p{
    color: aliceblue;
    margin-left: 30px;
    font-size: 50px;
    font-size: clamp(30px, 3vw, 100px);
    margin-top: 15px;
    font-weight: bold;
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

#choice {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #066839;
    color: rgb(218, 203, 203);
    position: absolute;
    bottom: 0;
    justify-content: center;
}

.box {
    margin-top: 7px;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    font-size: clamp(15px, 2vw, 25px);
    font-weight: 400;
}

#quote { 
    margin-top: 10%;
    left: 50%;   
    width: 100%;   

    transform: translate(-50%, -50%);
    position: relative;     
    text-align: center;   
    z-index: 0;   
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

#quote h1 {
    font-size: clamp(30px, 4vw, 90px);
    color: black; 
    font-weight: 800;
    margin: 0;   
}


/*Footer-------------------------------------------------*/

footer {
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #18392b;
    display: flex;
    bottom: 0;
}

.footlist0 {
    display: flex;
    flex-direction: row;
}

.footlist0 h1 {
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

.footlist0 img {
    width: 15px;
    height: 15px;
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

.footlist li {
    font-size: large;
    color: rgb(0, 0, 0);
    transition: transform 0.4s ease, color 0.4s ease;
    -webkit-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

.footlist li:hover {
    color: rgb(199, 194, 194);
}

.footlist1 {
    position: relative;
    top: 18px;
    margin-left: 150px;
    width: 300px;
    height: 100px;
}

.footlist1 p {
    margin-top: 10px;
}

.footlist2 {
    position: relative;
    top: 18px;
    width: 300px;
    height: 100px;
}

.footlist2 img {
    top: 10px;
    width: 35px;
    height: 35px;
}

a {
    text-decoration: none;
}

/*DropDown-------------------MENU-------------------*/
#menu img {
  width: 40px;
  height: 25px;
  cursor: pointer;
}

#side-menu {
  height: 100vh;
  width: 250px;
  background-color: #0F5132;
  position: fixed;
  top: 0;
  left: -250px; 
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  transition: left 0.3s ease;
  z-index: 1000;
}

#side-menu a {
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#side-menu a:hover {
  background-color: #066839;
}

#side-menu.active {
  left: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}



/*DropDown-------------------MESSEGES-------------------*/
#gmail img {
    height: 30px;
    width: 35px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;

    
    transition: transform 0.3s ease;
}

#gmail img:hover {
    transform: scale(1.05);
}

